page-home {


    ion-content{
    background-image: url(/assets/img/vu_church.jpeg);
    background-size: cover;
    background-position: center;

    &:before {
        content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right,#000,#000);
            opacity: .20;
      }
  }


ion-img{
  height: 20%
}

img{
  height: 100%;
}
  ion-img, img{
    width: 100%;
    object-fit: contain;
    margin-right: 10%;
    margin-right: 10%;

    background-color: rgba(0, 0, 0, 0);
  }

h2{
  text-align: center;
vertical-align: middle;
color: #fff;
font-weight: bold;
}

}
