
<ion-header>

  <ion-navbar>
    <ion-title>{{ tripType }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div class="image-box">
  <ion-img class="origin-image" [src]="imgString(from)"></ion-img>
  <ion-img class="destination-image" [src]="imgString(to)"></ion-img>
</div>
  <ion-item>
    <ion-label>Where are you?</ion-label>
    <ion-select [(ngModel)]="from" interface="action-sheet">
      <ion-option *ngFor="let location of locationList" [value]="location">{{location}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Where are you going?</ion-label> <!-- TODO - Filter out item selectred above -->
    <ion-select [(ngModel)]="to" interface="action-sheet">
      <ion-option *ngFor="let location of locationList" [value]="location">{{location}}</ion-option>
    </ion-select>
  </ion-item>

  <!-- TODO - Fix 'leavingAt' bug -->
  <!-- <ion-list [(ngModel)]="locationMod" radio-group>
   <ion-item>
     <ion-label color="dark">Leave At </ion-label>
     <ion-radio value="leave" checked ></ion-radio>
   </ion-item>
   <ion-item>
     <ion-label color="dark">Arrive By </ion-label>
     <ion-radio value="arrive"></ion-radio>
   </ion-item>
 </ion-list> -->

 <ion-item>
  <ion-label>When are you leaving?</ion-label>
  <ion-datetime displayFormat="hh:mm a" [(ngModel)]="time"></ion-datetime>
</ion-item>
<br/>
<button ion-button full (click)="findTrip()">Find Times</button>
<p> Leaving {{ from }} at {{ originTime }}</p> <br/>
<p> Arriving at {{ to }} at {{ destinationTime }}</p> <br/>


</ion-content>
