
<ion-header>

  <ion-navbar>
    <ion-title>{{ tripType }}</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col col-12 col-md-8 push-md-2>
  <ion-card class="overlay">
    <img [src]="imgString(tripType)"/>
    <ion-card-header class="card-title" >
      On Campus
    </ion-card-header>

    <ion-card-header class="card-subtitle">
      Weekdays - 8:30am to 1:30am
    </ion-card-header>
  </ion-card>

  <ion-item>
    <ion-label>Where are you?</ion-label>
    <ion-select [(ngModel)]="from" interface="action-sheet" (click)="clearResults()">
      <ion-option *ngFor="let location of locationList" [value]="location">{{location}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Where are you going?</ion-label> <!-- TODO - Filter out item selectred above -->
    <ion-select [(ngModel)]="to" interface="action-sheet" (click)="clearResults()">
      <ion-option *ngFor="let location of locationList" [value]="location">{{location}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list [(ngModel)]="locationMod" radio-group>
   <ion-item>
     <ion-label color="dark">Leave At </ion-label>
     <ion-radio value="leave" checked ></ion-radio>
   </ion-item>
   <ion-item>
     <ion-label color="dark">Arrive By </ion-label>
     <ion-radio value="arrive"></ion-radio>
   </ion-item>
 </ion-list>

 <ion-item>
  <ion-label>What time?</ion-label>
  <ion-datetime displayFormat="hh:mm a" [(ngModel)]="time"></ion-datetime>
</ion-item>
<br/>
<button ion-button full (click)="findTrips()">Find Times</button>
<ion-grid>
<ion-row>
<ion-card  *ngFor="let result of resultTimes let i = index" [attr.data-index]="i">

  <ion-card-header>
  <ion-icon name="bus"></ion-icon>  &nbsp;  <b>Option {{i+1}}</b>
   <div class="float-right"> <p class="float-right"><ion-icon name="time"></ion-icon> &nbsp;<b>Travel Time:</b> {{formatDuration(result.duration)}}</p></div>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row class="relative">
        <div> <img src="assets/img/trip_hint.jpeg"/>  </div>
        <div>&nbsp;</div>
        <div><p class="top"> {{from}} <b>{{ formatTime(result.departure)}}</b></p>
        <p class="bottom"> {{to}} <b>{{ formatTime(result.arrival) }}</b></p></div> <br/>
  </ion-row>
    <div [innerHtml]="formatTimeTo(result.timeToDeparture)"></div>
    </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>

</ion-col>
</ion-row>
</ion-grid>
</ion-content>
